[submodule "scripts/jointpdf"]
	path = scripts/jointpdf
	url = https://bitbucket.org/rquax/jointpdf.git
[submodule "scripts/resilientpdf/NPEET"]
	path = scripts/resilientpdf/NPEET
	url = https://github.com/gregversteeg/NPEET.git
