*.pkl
*.xml
*.iml
*/.idea/*
./scripts/discrete_nudge/jointpdf/*
./scripts/continuous_nudge/NPEET/*
scripts/discrete_nudge/jointpdf_DJ/*
scripts/discrete_nudge/jointpdf_DJ/*/*
scripts/discrete_nudge/jointpdf_DJ/**/
*.pyc
__init__.py
*.aux
*.bbl
*.blg
*.log
*.pdf
*.gz
*.toc
__init__.py
bin/MatLab/
*.mat
*.m
*.ipynb_checkpoints
!./bin/*.pdf
*.fls
*.fdb_latexmk
*.out